/*
	Custom Stylesheet for SurveyBin
	Matthew Shirlaw
*/

h1 span
{
	font-weight: 200;
	line-height: 60px;
}

.btn a
{
    color: #ffffff;
}

.btn a:hover
{
    color: #ffffff;
    text-decoration:none;
}

th
{
    width: 50%;
    background-color: #eee;
}

ol, ul
{
    padding-left: 20px;
}